@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&display=swap");
* {
  font-family: "Roboto Flex", sans-serif;
  color: #fff;
}
html {
  font-size: 16px;
}
body {
  background-color: #070707;
}
.swiper {
  .swiper-button-next,
  .swiper-button-prev {
    height: 100%;
    top: 0;
    margin: 0;
    width: 10vw;
    right: 0;
    &:after {
      color: #fff;
      opacity: 0;
      visibility: hidden;
      font-size: 30px;
    }
  }
  .swiper-button-prev {
    right: auto;
    left: 0;
  }
  &:hover {
    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after,
    .swiper-button-next:after,
    .swiper-rtl .swiper-button-prev:after {
      opacity: 1;
      visibility: visible;
    }
    .swiper-button-next {
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
      );
    }
    .swiper-button-prev {
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 100%
      );
    }
  }
  .swiper-slide {
    width: max-content;
  }
}
